{% load static %}
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'emission/style.css' %}">
    <title>Per Capita Emission</title>
  </head>
<body>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid d-flex justify-content-center">
    <div class="navbar" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'per_capita' %}">Per Capita Emission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'total' %}">Total Emission</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <h2 class="mb-3 text-white text-center pt-4" >Per Capita CO2 Emissions Across the World</h2>
    <div class="col-md-4 blog-main">
      <div class="blog-post py-5">
        <div class="row">
          <div class="col-md-8">
            <p class="text-white">
              Per capita CO2 emissions are the CO2 emissions produced by the average citizen of a particular country. To calculate per capita emissions, the total emissions of a country are divided by its population. By examining per capita emissions across the world, we can gain insight into the level of inequality in carbon emissions that exists.
            </p>
            <p class="text-white">
              The disparity in per capita emissions across the globe is substantial. The major oil-producing countries tend to be the largest per capita CO2 emitters, particularly those with relatively low populations. For instance, in 2017, Qatar had the highest emissions at 49 tonnes (t) per person, followed by Trinidad and Tobago (30t); Kuwait (25t); United Arab Emirates (25t); Brunei (24t); Bahrain (23t); and Saudi Arabia (19t).
            </p>
          </div>
        </div>
      </div>
    </div><!-- /.blog-main -->

<aside class="col-md-8 blog-sidebar py-5">
<div class="p-5 rounded position-relative" style="height: 1300px;font-size: 16px; background-color:#e2edf3">
  <h4 class="font-italic">Per capita CO2 emissions</h4>
  <nav class="my-nav">
<ul class="nav nav-pills flex-row mt-3 my-nav-list">
      <li class="nav-item mr-auto">
        <a class="nav-link active" href="{% url 'per_capita' %}">Table</a>
      </li>
      <li class="nav-item mr-auto">
        <a class="nav-link" href="{% url 'search_matierial' %}">Data Visual</a>
      </li>

    </ul>

{% block table %}

           <!-- filter search bar -->
            <form method="POST" action="{%url 'percapitafilter' %}">
        {% csrf_token %}
        <select id="yfilter" name="yfilter" year="year">
            <option selected disabled=true>--Select Year--</option>
            {% for year in years %}
            <option value="{{ year.year }}">{{ year.year }}</option>
            {% endfor %}
      </select>
      <select id="cfilter" name="cfilter" country="country">
            <option selected disabled=true>--Select Country--</option>
            {% for country in countries %}
            <option value="{{ country.id }}">{{ country.country_name }}</option>
            {% endfor %}
      </select>
        <!-- <div class="mb-3 d-inline-block">
          <label for="year" class="form-label">year:</label>
          <input type="dropdown" class="form-control" id="year">
        </div> -->

        <button type="submit" class="btn btn-success">Search</button>
      </form>

{% if page_obj %}
<div class="table-responsive">
    <table class="my-table">
      <thead>
        <tr>
          <th>Country</th>
          <th>Year</th>
          <th>Per Capita</th>
          <th>Coal</th>
          <th>Oil</th>
          <th>Gas</th>
          <th>Cement</th>
          <th>Flaring</th>
        </tr>
      </thead>
      <tbody>
        {% for percapitaemission in page_obj %}
          <tr>
            <td>{{percapitaemission.country}}</td>
            <td>{{percapitaemission.year}}</td>
            <td>{{percapitaemission.percapita}}</td>
            <td>{{percapitaemission.coal}}</td>
            <td>{{percapitaemission.oil}}</td>
            <td>{{percapitaemission.gas}}</td>
            <td>{{percapitaemission.cement}}</td>
            <td>{{percapitaemission.flaring}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>No per capita emissions available.</p>
    {% endif %}

    <div class="pagination my-5">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; First</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo; Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">&laquo; First</span>
          </li>
          <li class="page-item disabled">
            <span class="page-link">&lsaquo; Previous</span>
          </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-item active">
              <span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
            </li>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &rsaquo;</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next &rsaquo;</span>
          </li>
          <li class="page-item disabled">
            <span class="page-link">Last &raquo;</span>
          </li>
        {% endif %}
      </ul>
    </div>
</div>
{% endblock %}

  </nav>
</div>

</aside>
</div>
    </div>
      </body>
</html>