<html>
  <head>
    <title>Database verification</title>
  </head>
  <body>
    <h1>DB verification</h1>
    {% for percapitaemission in percapitaemissions %}
    <p>
      {{percapitaemission.country}} | 
      {{percapitaemission.year}} | 
      {{percapitaemission.percapita}} | 
      {{percapitaemission.coal}} | 
      {{percapitaemission.oil}} |
      {{percapitaemission.gas}} |
      {{percapitaemission.cement}} | 
      {{percapitaemission.flaring}}
    </p>
    {% endfor %}
  </body>
</html>