{% extends 'emission/total.html' %}

{% block table %}
{% if totalemissions %}
<div class="table-responsive" style="overflow-x: auto;">
    <table>
      <thead>
        <tr>
          <th>Country</th>
          <th>Year</th>
          <th>Total</th>
          <th>Coal</th>
          <th>Oil</th>
          <th>Gas</th>
          <th>Cement</th>
          <th>Flaring</th>
        </tr>
      </thead>
      <tbody>
        {% for totalemission in totalemissions %}
        <tr>
          <td>{{totalemission.country}}</td>
          <td>{{totalemission.year}}</td>
          <td>{{totalemission.total}}</td>
          <td>{{totalemission.coal}}</td>
          <td>{{totalemission.oil}}</td>
          <td>{{totalemission.gas}}</td>
          <td>{{totalemission.cement}}</td>
          <td>{{totalemission.flaring}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
<p>No total emissions available.</p>
{% endif %}
</div>
{% endblock %}
