{% load static %}
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'emission/style.css' %}">
    <title>Total Emission</title>
  </head>
<body>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid d-flex justify-content-center">
    <div class="navbar" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'per_capita' %}">Per Capita Emission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'total' %}">Total Emission</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

        <div class="container">
      <div class="row">
          <h2 class="mb-3 text-white text-center pt-4" >Understanding Total Carbon Dioxide Emissions</h2>
        <div class="col-md-4 blog-main">
    <div class="blog-post py-5">
    <div class="col-md-8">
      <p class="text-white">Carbon dioxide (CO2) emissions are a major contributor to climate change, and understanding their impact and trends is crucial for addressing the issue. This chart shows the growth of global CO2 emissions from the mid-18th century to today.</p>
      <p class="text-white">Before the Industrial Revolution, emissions were very low. However, emissions began to increase rapidly in the mid-20th century, with global emissions reaching 6 billion tonnes of CO2 in 1950. By 1990, emissions had almost quadrupled, reaching more than 22 billion tonnes. Today, we emit over 34 billion tonnes of CO2 each year.</p>
      <p class="text-white">Although emissions growth has slowed in recent years, they have yet to reach their peak. It is crucial that we take action to reduce carbon emissions in order to mitigate the effects of climate change and protect our planet.</p>
    </div>
</div>
</div><!-- /.blog-main -->

<aside class="col-md-8 blog-sidebar py-5">
<div class="p-5 rounded position-relative" style="height: 700px;font-size: 16px; background-color:#e2edf3">

  <h4 class="font-italic">CO2 emission plots</h4>
  <nav class="my-nav">
    <ul class="nav nav-pills flex-row mt-3 my-nav-list">
      <li class="nav-item mr-auto">
        <a class="nav-link" href="{% url 'total' %}">Table</a>
      </li>
      <li class="nav-item mr-auto">
        <a class="nav-link active" href="{% url 'search_matierial' %}">Data Visual</a>
      </li>

    </ul>
<form action="search_matierial" method="post" id="country_filter">
  {% csrf_token %}
      <select id="country_id" name="country_id" country="country">
            {% for country in countries %}
            <option value={{country.id}}>{{country.country_name}}</option>
            {% endfor %}
      </select>

  <select id="matierial" name="matierial">
      <option value="Total">Total/PerCapita</option>
      <option value="Coal">Coal</option>
      <option value="Oil">Oil</option>
      <option value="Gas">Gas</option>
      <option value="Cement">Cement</option>
      <option value="Flaring">Flaring</option>
  </select>
  <button type="submit" class="btn btn-success">Search</button>
  
</form>

<script>
  var chart_type='bar';
  var data_type='Total'
  var sources_list = JSON.parse('{{ sources_list }}'); //Parse Json object to javascript list
  var sources_list_pc = JSON.parse('{{ sources_list_pc }}');
  var country = JSON.parse('{{ country }}');
</script>

<script>
  function changeType() {//Function to toggle between bar and line graph
    if(chart_type=='bar'){
      chart_type='line';
  } else {
    chart_type='bar';
  }
  console.log('Chart type:', chart_type);
  chart.config.type = chart_type;
  document.getElementById("chart-type-btn").textContent = chart_type;
  chart.update();//Update chart type on UI
  }
</script>

<button id="chart-type-btn" onclick="changeType()" class="btn btn-secondary"></button>
<script>
  document.getElementById("chart-type-btn").textContent = chart_type;
</script>

<script>
  function changeData() {//Function to toggle between PerCapita and Total data
  if(data_type=='PerCapita'){
      chart.data.datasets[0].data = sources_list;
      data_type='Total';
      console.log(data_type);
  } else {
      chart.data.datasets[0].data = sources_list_pc;
      data_type='PerCapita';
      console.log(data_type);
  }
  chart.update();
  document.getElementById("data-type-btn").textContent = data_type;//Update data type on UI
  }
</script>

<button id="data-type-btn" onclick="changeData()"  class="btn btn-secondary"></button>

<script>
  document.getElementById("data-type-btn").textContent = data_type;
</script>


<canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type= 'text/javascript'>

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
// The type of chart we want to create
type: chart_type,

// The data for our dataset
data: {
    labels: ['1996', '1997', '1998', '1999', '2000', '2001', '2002','2003', '2004', '2005', '2006', '2007', '2008', '2009','2010', '2011', '2012', '2013', '2014', '2015', '2016','2017', '2018', '2019', '2020', '2021'],
    datasets: [{
        label: 'Graph of {{country}} CO2 emission',
        backgroundColor: 'rgb(135, 206, 235)', //setting sky-blue color for the bars
        borderColor: 'rgb(128, 128, 128)', //setting color grey for the line
        data: {{sources_list}}
    }]
},

// Setting axis labels
options: {
    responsive: true,
     scales: {
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Year'
                }
            }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'In Tonnes'
                },
                ticks: {
                    beginAtZero: true,
                }
            }]
        }
}
});
</script>
  </nav>
</div>

</aside>
      </div>
    </div>
  </body>
</html>