{% extends 'emission/total.html' %}

{% block table %}
{% if page_obj %}
<div class="table-responsive">
    <table class="my-table">
      <thead>
        <tr>
          <th>Country</th>
          <th>Year</th>
          <th>Total</th>
          <th>Coal</th>
          <th>Oil</th>
          <th>Gas</th>
          <th>Cement</th>
          <th>Flaring</th>
        </tr>
      </thead>
      <tbody>
        {% for totalemission in page_obj %}
  <tr>
    <td>{{totalemission.country}}</td>
    <td>{{totalemission.year}}</td>
    <td>{{totalemission.total}}</td>
    <td>{{totalemission.coal}}</td>
    <td>{{totalemission.oil}}</td>
    <td>{{totalemission.gas}}</td>
    <td>{{totalemission.cement}}</td>
    <td>{{totalemission.flaring}}</td>
  </tr>
{% endfor %}

      </tbody>
    </table>
    {% else %}
<p>No total emissions available.</p>
{% endif %}


<div class="pagination my-5">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; First</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo; Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo; First</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">&lsaquo; Previous</span>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active">
          <span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
        </li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &rsaquo;</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next &rsaquo;</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">Last &raquo;</span>
      </li>
    {% endif %}
  </ul>
</div>

</div>
{% endblock %}
