{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'emission/style.css' %}">

<title>CO2 Emission data</title>
    <style>
    #chart-wrapper {
            display: inline-block;
            position: relative;
            width: 500px;
    }
    body {
        backgroundColor: white;
        background-image:none;
    }
    </style>
    </head>

<body>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid d-flex justify-content-center">
    <div class="navbar" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'per_capita' %}">Per Capita Emission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'search_matierial' %}">graph</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<form action="search_matierial" method="post" id="country_filter">
  {% csrf_token %}
      <select id="country_id" name="country_id" country="country">
            {% for country in countries %}
            <option value={{country.id}}>{{country.country_name}}</option>
            {% endfor %}
      </select>

  <select id="matierial" name="matierial">
      <option value="Total">Total/PerCapita</option>
      <option value="Coal">Coal</option>
      <option value="Oil">Oil</option>
      <option value="Gas">Gas</option>
      <option value="Cement">Cement</option>
      <option value="Flaring">Flaring</option>
  </select>
  <input type="Submit" value="Submit">
  
</form>

<script>
  var chart_type='line';
  var data_type='percapita'
  var sources_list = JSON.parse('{{ sources_list }}');
  var sources_list_pc = JSON.parse('{{ sources_list_pc }}');
</script>

<script>
  function changeType() {
    if(chart_type=='bar'){
      chart_type='line';
  } else {
    chart_type='bar';
  }
  console.log('Chart type:', chart_type);
  chart.config.type = chart_type;
  chart.update();
  }
</script>

<button onclick="changeType()">Switch Chart Type</button>

<script>
  function changeData() {
  if(data_type=='total'){
      chart.data.datasets[0].data = sources_list;
  } else {
      chart.data.datasets[0].data = sources_list_pc;
  }
  chart.update();
  }
</script>

<button onclick="changeData()">Switch Data Type</button>

<canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type= 'text/javascript'>

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
// The type of chart we want to create
type: chart_type,

// The data for our dataset
data: {
    labels: ['1996', '1997', '1998', '1999', '2000', '2001', '2002','2003', '2004', '2005', '2006', '2007', '2008', '2009','2010', '2011', '2012', '2013', '2014', '2015', '2016','2017', '2018', '2019', '2020', '2021'],
    datasets: [{
        label: 'Line graph of {{country_data.country_name}} CO2 emission',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: {{sources_list}}
    }]
},

// Configuration options go here
options: {
    responsive: true,
}
});
</script>